{# src/Acme/DemoBundle/Resources/views/Account/register.html.twig #}
{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block body %}


{% for flashMessage in app.session.flashbag.get('success') %}
<div class="flash-message">
{{ flashMessage }}
  </div>
{% endfor %}


 {% include 'AcmeDemoBundle:Form:resetPassword.html.twig' with { 'form' : form } %}

{% endblock %}