<form id="form_new_password" class="well form-inline" method="post" enctype="application/x-www-form-urlencoded">

    <div class="control-group row">
        <div class="sd-12">
            <label for="password-email" class="form-label">New password</label>
            <input id="password" name="password" type="password" class="form-control">
        </div>
    </div>

    <div class="control-group row">
        <div class="sd-12">
            <label for="password-email" class="form-label">Confirm password</label>
            <input id="password2" name="password2" type="password" class="form-control">
            {% for msg in form.password.errors %}
                <p class="help-block">{{ msg }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="control-group row">
        <div class="sd-12">
            <button id="newpassword-submit" name="newpassword-submit" type="submit" class="btn yellow-btn mtx">Update password</button>
        </div>
    </div>
</form>


