<h3 class="form-heading">Enter your email address to get reset password</h3>

<form id="form_reset_password" class="well form-inline" method="post" enctype="application/x-www-form-urlencoded">

    <div class="control-group row">
        <div class="sd-12">
            <label for="resetpassword-email" class="form-label">Email</label>
            <input id="resetpassword-email" name="email" type="text" placeholder="Email" class="form-control">
            {% for msg in form.email.errors %}
                <p class="help-block">{{ msg }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="control-group row">
        <div class="sd-12">
            <button id="fresetpassword-submit" name="resetpassword-submit" type="submit" class="btn yellow-btn mtx">Reset password</button>
        </div>
    </div>
</form>